$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

$images: "../images/rough/";
@import 'sass-bootstrap/lib/bootstrap';



@-webkit-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }

@-webkit-keyframes flicker {
    0% { background-size: 500px; }
    100% { background-size: 475px; }
}

* {-webkit-box-sizing: border-box; -webkit-user-select: none;}

body {
	font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	opacity: 0;
	height: 704px;
	width: 1024px;
	overflow: hidden;
	margin: 0; padding: 0;
	background-color: $black;
	color: $white;
	-webkit-font-smoothing: antialiased;
}



.dustbox {
	display: none;
	@include size(704px, 1024px);
	position: fixed;
	left: 0; top: 0;
	pointer-events: none;
	z-index: 10000;
	opacity: .5;
	canvas {
		pointer-events: none;
	}
}

section {
	@include size(704px, 1024px);
	// display: inline-block;
	position: absolute;
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 1024px 704px;
	.light {
		display: block;
		position: absolute;
		background-position: left top;
		background-repeat: no-repeat;
		background-size: 1024px 704px;
		left: 0; top: 0;
		@include size(704px, 1024px);
		opacity: 0;
		pointer-events: none;
		-webkit-transition: opacity .5s ease-in-out;
		&.shown {
			opacity: 1;
		}
	}
	.switch {
		display: block;
		position: absolute;
		left: 10px; top: 10px;
		@include size(50px, 50px);
		background-color: rgba(255,255,255,0.15);
		border-radius: 50px;
	}
}

	.sec-zp {
		background-image: url(#{$images}zp.jpg);
	}

	// MOONLIGHT
	.sec-cosmetic {
		background-image: url(#{$images}cosmeticmoon.jpg);
	}

	.sec-mensgifts {
		background-image: url(#{$images}mensgiftsmoon.jpg);
	}

	.sec-menwomen {
		background-image: url(#{$images}menwomenmoon.jpg);
	}
	
	.sec-stationery {
		background-image: url(#{$images}stationerymoon.jpg);
	}

	.sec-toys {
		background-image: url(#{$images}toysmoon.jpg);
	}


	// LIT UP
	.sec-cosmetic {
		.light {
			background-image: url(#{$images}cosmeticlight.jpg);
			-webkit-transition: opacity 2s ease-in-out !important;
			&.shown {
				// -webkit-animation-name: candleflicker;
				// -webkit-animation-duration: 4s;
				// -webkit-animation-iteration-count: infinite;
				// -webkit-animation-timing-function: linear;
				// -webkit-animation-delay: .5s;
				// -webkit-mask-image: -webkit-radial-gradient(white, transparent 50%);
				-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.5)), to(rgba(0,0,0,.5)));
				// opacity: 0.55;

			}
		}
		& .candle {
			opacity: 0;
			-webkit-transition: opacity .5s ease-in-out;
		}
		&.lit .candle {
			display: block;
			opacity: 1;
			position: absolute;
			left: 0; top: 0;
			@include size(704px, 1024px);
			background-size: 1024px 704px;
			background-image: url(#{$images}cosmeticlight.jpg);
			-webkit-animation-name: candleflicker;
			-webkit-animation-duration: 4s;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-timing-function: linear;
			-webkit-animation-delay: .5s;
			-webkit-transition: opacity 4s ease-in-out !important;
			&.ll {
				-webkit-mask-image: -webkit-radial-gradient(113px 500px, white, transparent 50%);
			}
			&.lm {
				-webkit-mask-image: -webkit-radial-gradient(250px 566px, white, transparent 50%);
			}
			&.rm {
				-webkit-mask-image: -webkit-radial-gradient(843px 600px, white, transparent 50%);
			}
			&.rr {
				-webkit-mask-image: -webkit-radial-gradient(890px 516px, white, transparent 50%);
			}
		}
	}

	.sec-mensgifts .light {
		background-image: url(#{$images}mensgiftslight.jpg);
	}

	.sec-menwomen .light {
		background-image: url(#{$images}menwomenlight.jpg);
	}
	
	.sec-stationery .light {
		background-image: url(#{$images}stationerylight.jpg);
	}

	.sec-toys .light {
		background-image: url(#{$images}toyslight.jpg);
	}

h1 {
	float: left;
}

h3 {
	margin: 20px 20px -15px; padding: 0;
}

.lampgrad {
	background: -webkit-radial-gradient(center, ellipse cover, rgba(245, 180, 130,.7) 0%,rgba(255,255,255,0) 65%);
	opacity:0;
	z-index: 100;
	background-position: center center;
	-webkit-animation: flicker 0.5s ease-in-out 0s infinite alternate;
	-webkit-transform: translate3d(0,0,0);
	background-repeat: no-repeat;
	background-size: 500px;
	@include size(500px,500px);
}

.lamp {
	background: url(../images/lamp.jpg) left top no-repeat;
	z-index: 50;
	@include size(500px,500px);
}

.stacked {
	position: absolute;
	left: 20px; top: 100px;
}

button {
	-webkit-appearance: none;
	border: 1px black solid;
	background-color: black;
	color: white;
	border-radius: 10px;
	font-size: 12px;
	font-weight: bold;
	@include size(40px, 80px);
	margin: 20px;
}

nav {
	display: block;
	position: absolute;
	z-index: 20000;
	@include size(100px, 270px);
	bottom: 0;
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style-type: none;
		float: left;
		line-height: 100px;
		width: 45px;
		font-weight: bold;
		font-size: 50px;
		text-align: center;
	}
}


.fadeOut {
	opacity: 0;
	-webkit-transition: opacity 1.5s ease 6s;
}
	

.loaded {
	opacity: 1;
	-webkit-transition: opacity 1s ease;
}

.active {
	display: block;
	-webkit-transition: all 1s ease-in-out;
	-webkit-transform: translate3d(0,0,0);
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}

.inactive {
	// -webkit-filter: blur(10px);
	opacity: 0;
	pointer-events: none;
	-webkit-transition: all .6s ease-in-out;
	-webkit-transform: scale(.75) translate3d(0,0,0);
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
	-webkit-filter: grayscale(100%);
}

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

// animations
@-webkit-keyframes candleflicker {
	from {
		opacity: 0.9;
	}
	4% {
		opacity: 0.8;
	}
	6% {
		opacity: 0.85;
	}
	8% {
		opacity: 0.85;
	}
	10% {
		opacity: 0.85;
	}
	11% {
		opacity: 0.9;
	}
	12% {
		opacity: 0.85;
	}
	14% {
		opacity: 0.85;
	}
	16% {
		opacity: 0.70;
	}
	17% {
		opacity: 0.85;
	}
	19% {
		opacity: 0.9;
	}
	20% {
		opacity: 0.9;
	}
	24% {
		opacity: 0.9;
	}
	26% {
		opacity: 0.8;
	}
	28% {
		opacity: 0.9;
	}
	38% {
		opacity: 0.85;
	}
	40% {
		opacity: 0.9;
	}
	42% {
		opacity: 0.85;
	}
	44% {
		opacity: 0.9;
	}
	46% {
		opacity: 0.95;
	}
	56% {
		opacity: 0.9;
	}
	58% {
		opacity: 0.85;
	}
	60% {
		opacity: 0.9;
	}
	68% {
		opacity: 0.9;
	}
	70% {
		opacity: 1; /*peak*/
	}
	72% {
		opacity: 0.9;
	}
	75% {
		opacity: 0.85;
	}
	80% {
		opacity: 0.9;
	}
	83% {
		opacity: 0.85;
	}
	84% {
		opacity: 0.95;
	}
	87% {
		opacity: 0.8;
	}
	90% {
		opacity: 0.9;
	}
	93% {
		opacity: 0.85;
	}
	95% {
		opacity: 1; /*peak*/
	}
	97% {
		opacity: 0.9;
	}
	to {
		opacity: 0.9;
	}
}
